.container{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divider{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 28px;
    background: rgba(0, 0, 0, 0.10);
}
.mainLogo{
    color: #22202E;
    font-family: Clash Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow:1;
    text-align: center;
    cursor: pointer;
}
.icon{
    display: flex;
    flex-grow:0;
    width: 70px;
    justify-content: center;
   cursor: pointer;
}
.hideMobile{
    display: flex;
    flex-grow:0;
    width: 70px;
    justify-content: center;
    display: none;
}
@media (max-width: 768px) {
    .divider{
      display: none;
    }
    .hideMobile{
        display: flex;
        flex-grow:0;
        width: 50px;
        justify-content: center;
    }
    .hide{
        display: none;
    }
    .mainLogo{
        padding-left: 24px;
        text-align: left;
    }
   }