.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 62px;
}
.productCategoty{
    color: #726E8D;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 44px;
    cursor: pointer;
}
@media (max-width: 768px) {
  .container{
    display: none;
  }
 }