.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;    
}
.number{
    font-family: Clash Display;
font-size: 150px;
margin: 0;
   
}
.text{
    font-family: Clash Display;
    font-size: 80px;
    margin: 0;
}
@media (max-width: 768px) {
.number{
    font-size: 100px;
}
.text{
    font-size: 40px;
}
   }